.trust {
   color: var(--color-dark);
   padding-block: 98px 24px;

   @include table {
      padding-top: 60px;
   }
   @include mobile {
      padding-top: 40px;
   }

   &__header {
      text-align: center;
      margin-bottom: 88px;

      @include mobile {
         margin-bottom: 55px;
      }

      &-title {
         font-size: 46px;
         line-height: calcLineHeight(56, 46);
         margin-bottom: 15px;

         @include table {
            font-size: 40px;
         }
         @include mobile {
            font-size: 35px;
            margin-bottom: 7px;
         }
      }

      &-text {
         font-size: 18px;
         line-height: calcLineHeight(26, 18);
         margin-bottom: 32px;

         @include table {
            margin-bottom: 23px;
         }
         @include mobile {
            font-size: 16px;
         }
      }

      &-link-wrapper {
         display: flex;
         column-gap: 8px;
         justify-content: center;

         @include mobile {
            flex-wrap: wrap;
            row-gap: 16px;
         }
      }

      &-link {
         font-size: 14px;
         line-height: calcLineHeight(18, 14);
         padding: 17px 40px 21px 40px;
         background-color: var(--color-white);
         color: var(--color-purple-text);
         text-transform: uppercase;

         &:first-child {
            color: var(--color-white);
            background-color: var(--background-purple);
         }
      }
   }

   /* ============================ */

  &__main {
      .trust__statistics {
         display: flex;
         justify-content: space-around;
         column-gap: 20px;
         margin-bottom: 122px;

         @include table {
            flex-wrap: wrap;
            row-gap: 20px;
            text-align: center;
            margin-bottom: 95px;
         }
         @include mobile {
            margin-bottom: 60px;
         }

         &-body {
            max-width: 180px;
         }

         &-num {
            color: var(--color-purple-text);
            font-size: 64px;
            line-height: calcLineHeight(64, 64);
            margin-bottom: 4px;

            @include table {
               font-size: 55px;
            }
         }

         &-text {
            font-size: 14px;
            line-height: calcLineHeight(20, 14);
            position: relative;

            &::after {
               content: '*';
               position: absolute;
               top: 0;
               right: -5px;

               @include mobile {
                  & {
                     display: none;
                  }
               }
            }
         }
      }

      /* ============================ */

      .trust__quote {
         max-width: 505px;
         margin-left: auto;
         margin-bottom: 89px;

         @include table {
            margin-bottom: 70px;
         }
         @include mobile {
            margin-bottom: 50px;
         }

         &-text {
            font-size: 27px;
            line-height: calcLineHeight(38.19, 27);
            letter-spacing: 0.3px;
            margin-bottom: 9px;

            @include table {
               font-size: 24px;
            }
         }

         &-author {
            font-size: 16px;
            line-height: calcLineHeight(18.75, 16);
            margin-bottom: 27px;

            @include table {
               margin-bottom: 14px;
            }
         }

         &-link {
            font-size: 18px;
            line-height: calcLineHeight(21.09, 18);
            color: var(--color-cyan);
         }
      }
   }


   /*============================ */

   &__footer {
      text-align: center;

      &-text {
         font-size: 14px;
         line-height: calcLineHeight(18, 14);
         color: var(--color-gray-light);
         position: relative;

         &::after {
            content: '*';
            position: absolute;
            left: 0;
            top: -10px;
         }
      }
   }
}