.welcome {
   display: flex;
   justify-content: space-between;
   padding-block: 25px 79px;
   align-items: center;
   column-gap: 15px;

   @include table {
      padding-bottom: 45px;
   }

   &__body {
      @include table {
         @include content-center;
      }
   }

   &__title {
      font-size: 60px;
      line-height: calcLineHeight(68, 60);
      margin-bottom: 67px;

      @include table {
         font-size: 50px;
         margin-bottom: 40px;
      }

      @include mobile {
         font-size: 42px;
         margin-bottom: 35px;
      }
   }

   &__text {
      font-size: 19px;
      line-height: calcLineHeight(26.66, 19);

      @include mobile {
         font-size: 17px;
      }
   }

   &__link-wrapper {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-block: 54px 15px;

      @include table {
         margin-top: 40px;
      }

      @include mobile {
         flex-wrap: wrap;
         row-gap: 10px;
         justify-content: center;
      }
   }

   &__link {
      display: inline-flex;
      text-transform: uppercase;
      text-align: center;

      &:first-child {
         padding: 17px 40px 21px 40px;
         background-color: var(--color-white);
         color: var(--color-purple-text);
      }

      &:last-child {
         padding: 18px 16px 21px 64px;
         background-color: var(--background-button);
         position: relative;

         &::before {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            translate: 0 -50%;
            width: 49px;
            height: 49px;
            background: url(/images/google-icon.svg) no-repeat;
         }
      }
   }

   &__image {
      @include table {
         display: none;
      }
   }
}